<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988091627695-1fnrnjgu7p4fcrqaccm7vd26t3bp8s19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988091627695-1fnrnjgu7p4fcrqaccm7vd26t3bp8s19</string>
	<key>API_KEY</key>
	<string>AIzaSyAaWvX9aWUovhKkNP4uic_8tnvFkLROyZs</string>
	<key>GCM_SENDER_ID</key>
	<string>988091627695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kiosk</string>
	<key>PROJECT_ID</key>
	<string>kioskapp2-n011ft</string>
	<key>STORAGE_BUCKET</key>
	<string>kioskapp2-n011ft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988091627695:ios:8e1448318a89a15677fc5a</string>
</dict>
</plist>